body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
#addTaskButton {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#addTaskButton:hover {
    background-color: #0056B3;
}
.tasks-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.tasks-container p {
    margin: 0;
    color: #888;
}
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
.task-item.completed {
    text-decoration: line-through;
    color: #888;
}
.completed-tasks {
    margin-top: 20px;
    text-align: center;
}
.completed-tasks h3 {
    margin-bottom: 10px;
}
.completed-count {
    font-size: 24px;
    background-color: #eee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.delete-icon {
    cursor: pointer;
    color: red;
}
.delete-icon:hover {
    color: darkred;
}